<div class="jumbotron">
  <h1>JonWendt.com</h1>
  <p class="lead">An aggregation of memories, musings, and projects from Jonathan Patrick Wendt</p>
</div>

<% unless @blog_posts.blank? %>
<hr>

<h2><%= link_to "Blog", posts_path %></h2>

<div class="row-fluid">
  <% @blog_posts.each_with_index do |post, index| %>
    <div class="span4" style="margin-bottom: 25px;">
      <h3><%= post.title %></h3>
      <p><%= post.preview %></p>
      <p><%= link_to "Read more &raquo;".html_safe, post_path(post.id), :class => "btn" %></p>
    </div>
  <% end %>
</div>
<% end %>

<% unless @project_posts.blank? %>
<hr>

<h2><%= link_to "Projects", projects_path %></h2>

<div class="row-fluid">
  <% @project_posts.each_with_index do |post, index| %>
    <div class="span4" style="margin-bottom: 25px;">
      <h3><%= post.title %></h3>
      <p><%= post.preview %></p>
      <p><%= link_to "Read more &raquo;".html_safe, post_path(post.id), :class => "btn" %></p>
    </div>
  <% end %>
</div>
<% end %>