<div class="jumbotron">
  <h1>JonWendt.com</h1>
  <p class="lead">An aggregation of memories, musings, and projects from Jonathan Patrick Wendt</p>
</div>

<hr>

<h2><%= link_to "Blog", posts_path %></h2>

<div class="row-fluid">
  <% @posts.each_with_index do |post, index| %>
    <div class="span4" style="margin-bottom: 25px;">
      <h3><%= post.title %></h3>
      <p><%= post.preview %></p>
      <p><%= link_to "Read more &raquo;".html_safe, post_path(post.id), :class => "btn" %></p>
    </div>
  <% end %>
</div>

<hr>

<h2><%= link_to "Games", games_path %></h2>

<div class="row-fluid">
  <% @updates.each_with_index do |update, index| %>
    <div class="span4" style="margin-bottom: 25px;">
      <h3><%= update.title %></h3>
      <p><%= update.preview %></p>
      <p><%= link_to "Read more &raquo;".html_safe, update_path(update.id), :class => "btn" %></p>
    </div>
  <% end %>
</div>