<div class="jumbotron">
  <h2><%= link_to @game.title, @game.download_link %></h2>
</div>

<hr>

<div class="row">
  <div class="span3 sidebar"><%= render :partial => "sidebar" %></div>
  <div class="span9">
    <div class="row-fluid">
      <% @game.updates.each do |update| %>
        <h3 style="margin-top: 0px;"><%= update.title %></h3>
        <p><%= update.preview %></p>
        <p><%= link_to "Read more &raquo;".html_safe, update_path(update.id), :class => "btn" %></p>
        
        <% if update != @game.updates.last %>
          <hr><br/>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<%= link_to "Edit Game", edit_game_path(@game), :class => "btn btn-primary" if @is_admin %>

<script>
  $('img').click(function() {
    if ($(this).css('max-height') == 'none') {
      $(this).css('max-height', '400px');
    } else {
      $(this).css('max-height', 'none');
    }
  });

  $(document).ready(function() {
    $('.image-container').each(function(index, value) {
      $(this).width($(this).children('img').width());
    });
  });
</script>