<%= form_for @project do |f| %>
  <div class="row">
    <h2>Title</h2><p><%= f.text_field :title, class: 'form-control' %></p>
    <p>Preview Image <%= f.text_field :preview, class: 'form-control' %></p>
    <p>Download Link <%= f.text_field :download_link, class: 'form-control' %></p>
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>