<div class="jumbotron">
  <h2><%= title_with_link(@project) %></h2>
</div>

<hr>

<div class="row">
  <div class="col-md-3 sidebar"><%= render :partial => "sidebar" %></div>
  <div class="col-md-9">
    <% @posts.each do |post| %>
      <h3 class='post-title'><%= post.title %></h3>
      <p class='post-content'><%= post.preview.html_safe %></p>
      <p><%= link_to "Read more &raquo;".html_safe, project_post_path(@project.id, post.id), :class => "btn btn-default" %></p>
      
      <% if post != @posts.last %>
        <hr>
      <% end %>
    <% end %>
  </div>
</div>

<%= link_to "Edit Project", edit_project_path(@project), :class => "btn btn-primary" if @is_admin %>

<script>
  $('img').click(function() {
    if ($(this).css('max-height') == 'none') {
      $(this).css('max-height', '400px');
    } else {
      $(this).css('max-height', 'none');
    }
  });

  $(document).ready(function() {
    $('.image-container').each(function(index, value) {
      $(this).width($(this).children('img').width());
    });
  });
</script>
