<div class="jumbotron">
  <h2><%= title_with_link(@project) %></h2>
</div>

<hr>

<div class="row">
  <div class="span3 sidebar"><%= render :partial => "sidebar" %></div>
  <div class="span9">
    <div class="row-fluid">
      <% @project.posts.each do |post| %>
        <h3 style="margin-top: 0px;"><%= post.title %></h3>
        <p><%= post.preview %></p>
        <p><%= link_to "Read more &raquo;".html_safe, post_path(post.id), :class => "btn" %></p>
        
        <% if post != @project.posts.last %>
          <hr><br/>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<%= link_to "Edit Project", edit_project_path(@project), :class => "btn btn-primary" if @is_admin %>

<script>
  $('img').click(function() {
    if ($(this).css('max-height') == 'none') {
      $(this).css('max-height', '400px');
    } else {
      $(this).css('max-height', 'none');
    }
  });

  $(document).ready(function() {
    $('.image-container').each(function(index, value) {
      $(this).width($(this).children('img').width());
    });
  });
</script>