<div class="jumbotron">
  <h2><%= @project.title %></h2>
</div>

<hr>

<div class="row-fluid">
  <div class="span3 sidebar"><%= render :partial => "sidebar" %></div>
  <div class="span9">
    <% @project.videos.each do |video| %>
      <h3 style="margin-top: 0px;"><%= video.title %></h3>
      <p><%= link_to video.caption, video.path, :class => "btn" %></p>
      
      <% if video != @project.videos.last %>
        <hr><br/>
      <% end %>
    <% end %>
  </div>
</div>

<%= link_to "Edit Project", edit_project_path(@project), :class => "btn btn-primary" if @is_admin %>

<script>
  $('img').click(function() {
    if ($(this).css('max-height') == 'none') {
      $(this).css('max-height', '400px');
    } else {
      $(this).css('max-height', 'none');
    }
  });

  $(document).ready(function() {
    $('.image-container').each(function(index, value) {
      $(this).width($(this).children('img').width());
    });
  });
</script>