<%= form_for @post do |f| %>
  <div class='row'>
    <h3>Title</h3>
    <%= f.text_field :title %>

    <h3>Content</h3>
    <%= link_to_add_association 'Add Text', f, :post_contents, :wrap_object => Proc.new { |post_content| post_content.build_content({content_type: 'Text'}, {}); post_content }, 'data-association-insertion-node' => '#post_contents', 'data-association-insertion-method' => 'append', class: 'btn btn-primary', id: 'add-text' %>
    <%= link_to_add_association 'Add Picture', f, :post_contents, :wrap_object => Proc.new { |post_content| post_content.build_content({content_type: 'Picture'}, {}); post_content }, 'data-association-insertion-node' => '#post_contents', 'data-association-insertion-method' => 'append', class: 'btn btn-info', id: 'add-picture' %>

    <div id='post-content' class='image-container'>
      <ol id='post_contents' data-update-url='<%= update_position_post_url if params[:id] %>'>
        <%= f.fields_for :post_contents, @post.post_contents do |pcf| %>
          <%= render "post_content_fields", f: pcf %>
        <% end %>
      </ol>
    </div>

    <p>Tags <%= f.text_field :tags %></p>

    <%= f.submit class: 'btn btn-primary', id: 'update-post' %>
  </div>

  <%= f.hidden_field :project_id, value: params[:project_id] if params[:project_id] %>
<% end %>


<script>
  var updatePositions = function() {
    $('.post-content-position').each(function(index) {
      $(this).attr('value', index);
    });
  }
  $(document).ready(function() {
    $('#post_contents').sortable();
    $('#update-post').click(function() {
      updatePositions();
    });
  });
</script>