<%= render :partial => "header" %>

<div class="row-fluid">
  <div class="span3 sidebar"><%= render :partial => "sidebar" %></div>

  <div class="span9">
    <div class="row-fluid">
      <% @posts.each do |post| %>
        <h3 style="margin-top: 0px;" class="post-title"><%= post.title %></h3>
        <p><%= post.preview.html_safe %></p>
        <p><%= link_to "Read more &raquo;".html_safe, post_path(post.id), :class => "btn" %></p>
        
        <% if post != @posts.last %>
          <hr><br/>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<br/>