<%= render :partial => "header" %>

<div class="row-fluid">
  <div class="span3 sidebar"><%= render :partial => "sidebar" %></div>
  <div class="span9">
    <h3 style="margin-top: 0px;"><%= @post.title %></h3>
    <p><%= @post.content.html_safe %></p>
    <p><%= @post.tags %></p>
  </div>
</div>

<%= link_to "Edit Post", edit_post_path(@post), :class => "btn btn-primary" if @is_admin %>

<script>
  $('.expandable').click(function() {
    if ($(this).css('max-height') == 'none') {
      $(this).css('max-height', '400px');
      $(this).parents('.image-container').width($(this).width());
    } else {
      $(this).css('max-height', 'none');
      $(this).parents('.image-container').width('');
    }
  });

  $(document).ready(function() {
    $('.image-container').each(function(index, value) {
      $(this).width($(this).children('.expandable').width());
    });
  });
</script>