<%= render :partial => "partials/header", locals: { :text => header_text(@project) } %>

<div class="row">
  <div class="col-md-3 sidebar"><%= render :partial => sidebar_partial(@project) %></div>
  <div class="col-md-9">
    <h3 class="post-title"><%= @post.title %></h3>
    <p><%= @post.content_html.html_safe %></p>
    <p>Tags: <%= @post.tags %></p>

    <%= link_to "Edit Post", edit_post_path(@post), :class => "btn btn-primary" if @is_admin %>
  </div>
</div>

<script>
  $('.expandable').click(function() {
    if ($(this).css('max-height') == 'none') {
      $(this).css('max-height', '400px');
      $(this).parents('.image-container').width($(this).width());
    } else {
      $(this).css('max-height', 'none');
      $(this).parents('.image-container').width('');
    }
  });
</script>